<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="fontName" value="Arial"/>
    <add key="fontSize" value="16"/>
    <add key="foreColor" value="Yellow"/>
    <add key="rightMargin" value="500"/>    
   </appSettings> 
</configuration>
